<section class="frame-1 relative">
    <div class="absolute">
        <div class="flex gap-5 justify-between whitespace-nowrap max-md:flex-wrap">
            <div
                class="flex overflow-hidden relative flex-col px-10 py-12 font-bold aspect-[1.72] fill-orange-300 text-blue-950 max-md:px-5">
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/293cbedda2f67c6f2840909b1970457470908337a15779333744da95f77e5852?"
                    class="object-cover absolute inset-0 size-full" />
                <div class="relative text-4xl tracking-[6px]">LUXURY</div>
                <div class="relative self-center mt-2.5 text-base tracking-[9px]">
                    HOTELS
                </div>
            </div>
            <!-- <div class="flex gap-5 px-5 my-auto text-2xl text-white max-md:flex-wrap max-md:max-w-full">
                <div class="border border-white border-solid">Home</div>
                <div class="flex flex-col font-bold">
                    <div>Facilities</div>
                    <div class="shrink-0 mt-1.5 h-0.5 bg-white border-2 border-white border-solid"></div>
                </div>
                <div class="border border-white border-solid">Rooms</div>
                <div class="flex-auto border border-white border-solid">Contact-us</div>
            </div> -->
        </div>
        <div class="flex flex-col text-white max-w-[698px]">
            <div class="pl-[20px] mt-[50px] w-full text-5xl max-md:max-w-full max-md:text-4xl">
                WELCOME TO
            </div>
            <div
                class="pl-[15px] mt-[-30px] w-full font-bold text-[154px] tracking-[10.78px] max-md:max-w-full max-md:text-4xl">
                LUXURY
            </div>
            <div
                class="pl-[20px] mt-[-25px] w-full text-6xl font-bold tracking-[24px] max-md:max-w-full max-md:text-4xl">
                HOTELS
            </div>
            <div class="ml-[17px] p-3 mt-[10px] w-full text-2xl  tracking-[2.5px] max-md:max-w-full">
                Book your stay and enjoy Luxury
                <br />
                redefined at the most affordable rates.
            </div>
        </div>
        <!-- <div
            class="flex overflow-hidden relative flex-col gap-5 items-start px-8 py-7 text-2xl font-bold text-white aspect-[3.44] fill-orange-300">
            <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/cb5f332b84ddb3b45ed4786334017a6b251b6f49d4e09834797bab09284b2912?"
                class="object-cover absolute inset-0 size-full" />
            <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/d25d64f0d61405b0fdb75271c6b56326108825d60078820dcdeaf7eaa4e8e05d?"
                class="shrink-0 w-7 aspect-[1.08]" />
            <div class="relative flex-auto mt-1">BOOK NOW</div>
        </div> -->
    </div>
</section>