<div class="flex flex-col items-center mt-24">
    <div class="text-6xl font-bold text-blue-950 max-md:text-4xl">
        Testimonials
    </div>
    <div class="mt-14 text-3xl  text-blue-950 max-md:mt-10 max-md:max-w-full">
        &quot;Calm, Serene, Retro What a way to relax and enjoy&quot;
    </div>
    <div class="mt-7 text-2xl border-0 border-solid border-blue-950 text-blue-950">
        Mr. and Mrs. Baxter, UK
    </div>
    <img loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/67b7ab0a0de50b760e12c030f3388ef8d236c3dfab40557a32aec8cd6717cc7d?"
        class="mt-6 max-w-full aspect-[2.44] w-[121px]" />
    <div
        class="flex overflow-hidden relative flex-col justify-center items-center self-stretch px-16 py-20 mt-28 w-full fill-blue-950 min-h-[321px] max-md:px-5 max-md:mt-10 max-md:max-w-full">
        <img loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/7d31dafb517fb67533f1f018ff8b819ac87cb98ae51383958056816973a71b3c?"
            class="object-cover absolute inset-0 size-full" />
        <div
            class="flex relative gap-5 justify-between items-start mt-16 w-full max-w-[1549px] max-md:flex-wrap max-md:mt-10 max-md:max-w-full">
            <div class="flex flex-col self-stretch font-bold text-white">
                <div class="text-2xl tracking-[3.75px]">LUXURY</div>
                <div class="self-start mt-3 ml-6 text-xs tracking-[5.4px] max-md:ml-2.5">
                    HOTELS
                </div>
                <div class="mt-7 text-sm ">
                    497 Evergreen Rd. Roseville, CA 95673
                    <br />
                    +44 345 678 903
                    <br />
                    <!-- <span>luxury_hotels@gmail.com</span> -->
                </div>
            </div>
            <div class="text-base d text-neutral-100">
                About Us
                <br />
                Contact
                <br />
                Terms & Conditions
            </div>
            <div class="flex gap-5 justify-between">
                <div class="flex flex-col items-center">
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/7288afd668039c2e1b3dc631bc0bc67d800f9006ef2db834de654a0ede9dce3a?"
                        class="self-start w-2.5 aspect-[0.53] fill-white" />
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/5dcb0d229b7fcb8c5b9524243c410fc17fc2b50aa402e1bc8d0d007c1f2bf4c3?"
                        class="mt-4 aspect-[1.27] fill-white w-[19px]" />
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/7c7d7bba62fc7e906db1572f0f148d64197fbc36f33deae2196f6ec7cd26e1a2?"
                        class="mt-4 aspect-square fill-white w-[19px]" />
                </div>
                <div class="text-base leading-8  text-neutral-100">
                    Facebook
                    <br />
                    Twitter
                    <br />
                    Instagram
                </div>
            </div>
            <div class="flex flex-col text-base text-white">
                <div class="">
                    Subscribe to our newsletter
                </div>
                <div class="flex gap-0 mt-8">
                    <div
                        class="flex overflow-hidden relative flex-col grow justify-center items-start px-7 py-5 border border-white border-solid aspect-[5.38] w-fit max-md:px-5">
                        <img loading="lazy"
                            src="https://cdn.builder.io/api/v1/image/assets/TEMP/b49d56086414eee9ea32d31a3d25a0e7fdb653919cbe4f881a23254b44a817e9?"
                            class="object-cover absolute inset-0 size-full" />
                        Email Address
                    </div>
                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/fd3d5fa613afeed9cb28df0705d2d144920ff5ed52ec316d3c37a148169ea493?"
                        class="shrink-0 w-20 aspect-[1.54]" />
                </div>
            </div>
        </div>
    </div>
</div>