<h2 class="text-2xl font-bold text-blue-gray-900 py-4 text-center">FACILITIES</h2>
<div class="px-20 pb-12 w-full bg-zinc-100 max-md:px-5 max-md:max-w-full">
    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
        <div class="flex flex-col w-[32%] max-md:ml-0 max-md:w-full">
            <div class="flex flex-col grow justify-center text-4xl font-bold text-white whitespace-nowrap max-md:mt-10">
                <div
                    class="flex overflow-hidden relative flex-col justify-center items-center px-16 pb-20 w-full aspect-[0.53] pt-[644px] max-md:px-5 max-md:pt-10">
                    <img loading="lazy" [src]="img_room" class="object-cover absolute inset-0 size-full" />
                    Rooms
                </div>
            </div>
        </div>
        <div class="flex flex-col ml-5 w-[68%] max-md:ml-0 max-md:w-full">
            <div class="flex flex-col grow max-md:mt-10 max-md:max-w-full">
                <div class="max-md:max-w-full">
                    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                        <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
                            <div
                                class="flex flex-col grow justify-center text-3xl font-bold text-white whitespace-nowrap max-md:mt-10">
                                <div
                                    class="flex overflow-hidden relative flex-col justify-center items-center px-16 pt-64 pb-20 w-full aspect-[1.11] max-md:px-5 max-md:pt-10">
                                    <img loading="lazy" [src]="img_service"
                                        class="object-cover absolute inset-0 size-full" />
                                    Dining
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
                            <div
                                class="flex flex-col grow justify-center text-3xl font-bold text-center text-white max-md:mt-10">
                                <div
                                    class="flex overflow-hidden relative flex-col items-center px-16 pt-64 pb-7 w-full aspect-[1.11] max-md:px-5 max-md:pt-10">
                                    <img loading="lazy" [src]="img_conf_meeting"
                                        class="object-cover absolute inset-0 size-full" />
                                    Conferences &
                                    <br />
                                    Meetings
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-10 max-md:max-w-full">
                    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
                        <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
                            <div class="flex flex-col grow justify-center text-3xl font-bold text-white max-md:mt-10">
                                <div
                                    class="flex overflow-hidden relative flex-col justify-center px-14 pt-64 pb-20 aspect-[1.11] max-md:px-5 max-md:pt-10">
                                    <img loading="lazy" [src]="img_dining"
                                        class="object-cover absolute inset-0 size-full" />
                                    Service & Facilities
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
                            <div class="flex flex-col grow justify-center text-3xl font-bold text-white max-md:mt-10">
                                <div
                                    class="flex overflow-hidden relative flex-col justify-center px-14 pt-64 pb-20 aspect-[1.11] max-md:pt-10 max-md:pr-7 max-md:pl-5">
                                    <img loading="lazy" [src]="img_wedding"
                                        class="object-cover absolute inset-0 size-full" />
                                    Wedding Package
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>