<!-- <app-search-bar></app-search-bar>
<app-search-by-location></app-search-by-location> -->
<!-- src/app/app.component.html -->
<!-- <app-hotel-photo [hotelId]="'1377073'"></app-hotel-photo> -->
<!-- <app-hotel-review [hotelId]="selectedHotelId" [pageNumber]="currentPageNumber"></app-hotel-review> -->
<!-- <app-layout></app-layout> -->
<!-- Parent Component Template -->
<!-- Parent Component Template -->
<!-- <app-search-by-date></app-search-by-date> -->
<!-- <app-header></app-header> -->
<app-main><router-outlet></router-outlet></app-main>