<section class="frame-1">
    <div>
        <div>
            logo
        </div>
        <div>
            <app-tab>
                <app-tab-content tabtitle="Home" icon="fa-solid fa-arrow-up-right-from-square">
                    <!-- Content for the first tab -->
                    <p>This is the content for the Component Tag tab.</p>
                </app-tab-content>

                <app-tab-content tabtitle="Facilties" icon="fa-solid fa-arrow-down-left-to-square">
                    <!-- Content for the second tab -->
                    <p>This is the content for the Second Tab.</p>
                </app-tab-content>
                <app-tab-content tabtitle="Book" icon="fa-solid fa-arrow-down-left-to-square">
                    <!-- Content for the second tab -->
                    <p>This is the content for the Second Tab.</p>
                </app-tab-content>
                <app-tab-content tabtitle="Contact us" icon="fa-solid fa-arrow-down-left-to-square">
                    <!-- Content for the second tab -->
                    <p>This is the content for the Second Tab.</p>
                </app-tab-content>
            </app-tab>
        </div>
    </div>
    <div>
        <span>WELCOME TO</span>
        <span>LUXURT</span>
        <span>HOTELS</span>
        <span>Book your stay and enjoy Luxurt<br>
            redefined at the most affordable rates</span>
    </div>
</section>